
.hero-body {
  /*background-image: url(/static/images/color_with_background@2x.png);*/
  /*background-size: 400px;*/
  /*background-repeat: no-repeat;*/
  background-color: #53e89b;
  /*background-position: 1000px;*/
}

.wheel-selection {
    width: 800px;
    margin: 40px auto 200px auto;
}

.call-to-action {
  margin: 50px 0 0 0;
  width: 1000px;
}

.call-to-action h2 {
  width: 300px;
  line-height: 50px;
  font-size: 20px;
}

.logo {
  margin: 40px auto 80px auto;
  width: 400px;
}

.disclaimer {
  width: 400px;
  margin: 40px auto;
}

#wrapper {
  width: 500px;
  margin: 40px auto;
}

#wheel{
	width:500px;
	height:500px;
}

#wheel:before{
	width:492px;
	height:492px;
}

#wheel div.sec{
  left: 70px;
  top: -8px;
  border-width: 255px 170px 0;
  transform-origin: 170px 254px;
}

#wheel div.sec .fa {
    margin-top: -210px;
}

#shine {
    width: 500px;
    height: 500px;
}


#wheel div.sec .fa {
  font-size: 20px;
  margin-left: -50px;
  text-align: center;
  color: #fff;
}



#spin{
	width:108px;
	height:108px;
  margin: -54px 0 0 -54px;
  font-size: 30px;
}

#spin:after{
  width: 108px;
  height: 108px;
  line-height: 108px;
}



#spin:before{
  top:-40px;
  left:36px;
  border-width: 0 20px 28px 20px;
}

#inner-spin {
  margin: -77px 0 0 -77px;
  width: 154px;
  height: 154px;
}

#wheel a {
  color: #fff;
  padding-bottom: 2px;
  border-bottom: 1px solid #fff;
}

@media only screen and (max-width: 500px) {


  .logo {
    margin: 40px auto 80px auto;
    width: 350px;
  }


      #wrapper {
        width: 400px;
        margin: 40px auto;
      }

      #wheel{
      	width:400px;
      	height:400px;
      }

      #wheel:before{
      	width:392px;
      	height:392px;
      }

      #wheel div.sec{
        left: 70px;
        top: -8px;
        border-width: 205px 120px 0;
        transform-origin: 120px 204px;
      }

      #wheel div.sec .fa {
          margin-top: -170px;
      }

      #shine {
          width: 400px;
          height: 400px;
      }


      #wheel div.sec .fa {
        font-size: 18px;
      }


      #spin{
      	width:108px;
      	height:108px;
        margin: -54px 0 0 -54px;
        font-size: 30px;
      }

      #spin:after{
        width: 108px;
        height: 108px;
        line-height: 108px;
      }



      #spin:before{
        top:-20px;
        left:36px;
        border-width: 0 20px 28px 20px;
      }

      #inner-spin {
        margin: -52px 0 0 -52px;
        width: 104px;
        height: 104px;
      }


}



.charity-icon {
  width: 50px;
}

.charity-shc {
  width: 120px;
}

.charity-pact {
  width: 120px;
}

h2.subtitle {
  padding: 20px 0;
  line-height: 50px;
}

.select-header {
    margin: 0 20px;
}


.hidden {
  display: none;
}

.donate-button {
  /*width: 300px;
  margin: 40px auto;*/
}
