
#wrapper {
  width: 400px;
  margin: 40px auto;
}

#wheel{
	width:400px;
	height:400px;
}

#wheel:before{
	width:392px;
	height:392px;
}

#wheel div.sec{
  left: 70px;
  top: -8px;
  border-width: 205px 120px 0;
  transform-origin: 120px 204px;
}

#wheel div.sec .fa {
    margin-top: -170px;
}

#shine {
    width: 450px;
    height: 450px;
}

#spin{
	width:108px;
	height:108px;
  margin: -54px 0 0 -54px;
  font-size: 30px;
}

#spin:after{
  width: 108px;
  height: 108px;
  line-height: 108px;
}



#spin:before{
  top:-40px;
  left:36px;
  border-width: 0 20px 28px 20px;
}

#inner-spin {
  margin: -77px 0 0 -77px;
  width: 154px;
  height: 154px;
}

.charity-icon {
  width: 50px;
}

.charity-shc {
  width: 70px;
}

.charity-pact {
  width: 70px;
}

h2.subtitle {
  padding: 20px 0;
  line-height: 50px;
}

.select-header {
    margin: 0 20px;
}
