{% extends "layout.html" %}
{% block content %}



<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="logo">
          <img src="/static/images/color_with_background@2x.png" />
      </div>
      <h1 class="title">
        <center><img src="/static/images/party-popper_1f389.png" /> Thank you for your &pound;{{ amount }} <img src="/static/images/party-popper_1f389.png" /></center>
      </h1>
    </div>
  </div>
</section>


<div class="margin-left">
      <div class="columns call-to-action">
        <div class="column">
          <a class="button is-info is-large" id="donateButton" href="/">Support a new Charity?</a>
        </div>
        <div class="column">
          <a class="button is-primary is-large not-complete" id="donateButton" href="#">Continue to help?</a>
        </div>
        <div class="column">
          <a class="button is-primary is-large not-complete" id="donateButton" href="#">How you helped?</a>
        </div>
      </div>
</div>


<div class="modal" id="coming-soon">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Coming Soon</p>
      <button class="delete close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      This feature is not yet available.
      <br /><br />
      If you're interested in the idea we would appreicate your <a href="https://goo.gl/forms/RSq1AxEb4emeHoNA3">feedback</a>, or you can
      add us on social media to hear when it is released:

      <br /><br />
      <span class="icon has-text-info is-large">
        <a href="https://twitter.com/ldonating"><i class="mdi mdi-twitter mdi-36px"></i></a>
      </span>

      <span class="icon has-text-info is-large">
        <a href="https://www.facebook.com/Luckydipdonating"><i class="mdi mdi-facebook mdi-36px"></i></a>
      </span>

    </section>
    <footer class="modal-card-foot">
    </footer>
  </div>
</div>


{% endblock %}
