{% extends "layout.html" %}
{% block content %}



<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Childrens Charities who need your help
      </h1>
      <h2 class="subtitle">
        A donation of <div class="select select-header">
          <select name="value" id="value">
            <option>&pound;1</option>
            <option>&pound;2</option>
            <option>&pound;5</option>
            <option>&pound;10</option>
            <option>&pound;20</option>
          </select>
        </div>
        would really help.


      </h2>
    </div>
  </div>
</section>

<div id="wrapper">

        <div id="wheel">
            <div id="inner-wheel">
                <div class="sec"><span class="fa charity-icon charity-shc"><img src="/static/images/SHC-Logo.png" /></span></div>
                <div class="sec"><span class="fa charity-icon charity-pact"><img src="/static/images/pact-logo-retina.png" /></span></div>
                <div class="sec"><span class="fa charity-icon"><img src="" /></span></div>
                <div class="sec"><span class="fa charity-icon"><img src="" /></span></div>
                <div class="sec"><span class="fa charity-icon"><img src="" /></span></div>
                <div class="sec"><span class="fa charity-icon"><img src="" /></span></div>
            </div>

            <div id="spin">
                <div id="inner-spin"></div>
            </div>

            <div id="shine"></div>
        </div>

  </div>
</div>


<div class="donate-button">
  <div class="hidden">
    <form action="/charge" method="post">
      <input type="text" name="amount" id="amount"/>
      <input type="text" name="stripeEmail" id="stripeEmail"/>
      <input type="text" name="stripeToken" id="stripeToken"/>
    </form>
  </div>

  <a class="button is-primary is-large" id="donateButton">Donate to ...</a>
</div>

{% endblock %}
