{% extends "layout.html" %}
{% block content %}



<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="logo">
          <img src="/static/images/color_with_background@2x.png" />
      </div>
      <h1 class="title">
        Sheffield Charities who need your help
      </h1>
      <h2 class="subtitle">
        A donation of <div class="select select-header">
          <select name="value" id="value">
            <option>&pound;1</option>
            <option>&pound;2</option>
            <option>&pound;5</option>
            <option>&pound;10</option>
            <option>&pound;20</option>
          </select>
        </div>
        would really help.


      </h2>
    </div>
  </div>
</section>


  <div class="columns wheel-selection">
    <div class="column">
      <a class="button is-primary is-large not-complete" href="/report">Pick a cause you wish to support?</a>
    </div>
    <div class="column">
      <a class="button is-primary is-large not-complete" href="/report">or customize your wheel?</a>
    </div>
  </div>

<div id="wrapper">


        <div id="wheel">
            <div id="inner-wheel">
                <div class="sec"><span class="fa charity-icon">Childrens Hospital</span></div>
                <div class="sec"><span class="fa charity-icon">Whirlow Hall Farm</span></div>
                <div class="sec"><span class="fa charity-icon">Cavendish Cancer Care</span></div>
                <div class="sec"><span class="fa charity-icon">Roundabout Homeless Charity</span></div>
                <div class="sec"><span class="fa charity-icon">Nacro Education</span></div>
                <div class="sec"><span class="fa charity-icon">Sheffield Wildlife Trust</span></div>
            </div>

            <div id="spin">
                <div id="inner-spin"></div>
            </div>

            <div id="shine"></div>
        </div>

  </div>
</div>

<div class="donate-button">
  <div class="hidden">
    <form action="/charge" method="post">
      <input type="text" name="amount" id="amount"/>
      <input type="text" name="stripeEmail" id="stripeEmail"/>
      <input type="text" name="stripeToken" id="stripeToken"/>
    </form>
  </div>

  <a class="button is-primary is-large" id="donateButton">Donate to ...</a>

  {% if mode == 'demo' %}
    <br /><br /><a class="button is-light is-large" href="/charge_demo"> (Skip payment)</a>
  {% endif %}


</div>

<div class="disclaimer">
  (This is a test mode, no real money will be taken.)
</div>

<div class="modal" id="coming-soon">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Coming Soon</p>
      <button class="delete close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      This feature is not yet avalible.
      <br /><br />
      If you're interested in the idea we would appreicate your <a href="https://goo.gl/forms/RSq1AxEb4emeHoNA3">feedback</a>, or you can
      add us on social media to hear when it is released:

      <br /><br />
      <span class="icon has-text-info is-large">
        <a href="https://twitter.com/ldonating"><i class="mdi mdi-facebook mdi-36px"></i></a>
      </span>

      <span class="icon has-text-info is-large">
        <a href="https://www.facebook.com/Luckydipdonating"><i class="mdi mdi-twitter mdi-36px"></i></a>
      </span>

    </section>
    <footer class="modal-card-foot">
    </footer>
  </div>
</div>

<div class="modal sign-up">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <iframe src="https://goo.gl/forms/RSq1AxEb4emeHoNA3" style="width: 100%; height: 600px;"></iframe>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>



{% endblock %}
