<!DOCTYPE html>
<html>
<head>
  <title>Lucky Dip Donating</title>
  <!-- <link href="/static/assets/font-awesome.min.css" rel="stylesheet"> -->
  <link href="/static/assets/bulma.min.css" rel="stylesheet">
  <link href="/static/assets/wheel.css" rel="stylesheet">
  <link href="/static/assets/style.css" rel="stylesheet">

  <script src="/static/assets/jquery-3.2.1.min.js"></script>
  <script src="/static/assets/wheel.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="/static/assets/script.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Exo+2:900' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
