{% extends "layout.html" %}
{% block content %}



<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="logo">
          <img src="/static/images/color_with_background@2x.png" />
      </div>
      <h1 class="title">
        <center><img src="/static/images/party-popper_1f389.png" /> Thanks Mark for your &pound;{{ amount }} <img src="/static/images/party-popper_1f389.png" /></center>
      </h1>
    </div>
  </div>
</section>


<div class="margin-left">
      <div class="columns call-to-action">
        <div class="column">
          <a class="button is-primary is-large" id="donateButton"  href="/report">How you helped?</a>
        </div>
        <div class="column">
          <a class="button is-primary is-large" id="donateButton" href="/report">Continue to help?</a>
        </div>
        <div class="column">
          <a class="button is-info is-large" id="donateButton" href="/">Support a new Charity?</a>
        </div>
      </div>
</div>


<div id="next-content">


        <div class="content is-large">

          <div class="card">
            <div class="card-image">
              <figure class="image ">
                <br />
                <img src="/static/images/group-photo.jpg" class="header-image"/>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Sheffield Childrens Hostpital</p>
                  <p class="subtitle is-6">@johnsmith</p>
                </div>
              </div>

              <div class="content">

                <time datetime="2016-1-1">11:09 PM - 19 Nov 2017</time>
              </div>
            </div>
          </div>


          <h1>Take on the 10K for Team Theo!</h1>
          <p>

            It's back ... following its huge success in its first two years, the much-talked-about Asda Foundation Sheffield 10K returns on Sunday 23rd September 2018.
<br /></br />
Thousands of runners took part in 2017, and it’s set to be even bigger and better in 2018, so secure your place now! Staged in partnership with Sheffield City Council, this 10K has a fantastic course right through the heart of the Steel City.
<br /></br />
Route: Runners will take on a fantastic city centre route, starting in Arundel Gate, and taking runners on a journey along Charter Row and along Ecclesall Road, before skirting the edges of pretty Endcliffe Park. It continues along Riverdale Road, along Endcliffe Vale Road, close to the Botanical Gardens, then travels down Brocco Bank and back to an exhilarating city centre finish.
<br /></br />
You can even get the whole family involved with the Arena Group Sheffield Family Fun Run, open to everyone aged 3 and above! So even, our youngest Team Theo members can be a part of this one!

          </p>
          <h2>Sign up</h2>
          <p>
We have a limited number of charity places available for the Sheffield 10K 2018, contact Caitlin@tchc.org.uk to secure your place.
          </p>
        </div>


</div>

{% endblock %}
